<!-- templates/homepage.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Home</title>
      <!-- Bootstrap CSS link -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>
    
  </head>
  <body>
    <div id="header">
      <div id="navbar">
        <h3>Property Management systems</h3>
        <a href="#" class="dropdownButton">Properties</a>
        <div>
          <a>Services</a>
        </div>
        <a href="/aboutus">About Us</a>
        <a href="/contactus">Contacts</a>
      </div>

      <div class="dropdown" style="display: none;">
        <p>Rental</p>
        <p><a href="sell-your-property">Sale</a></p>
        <p>Lease</p>
      </div>

      <h1>Easiest way to find your dream home</h1>
      <img
        src="{{url_for('static', filename='property_new.jpg')}}"
        alt="Property Image"
      />
      <form id="search-form">
        <input
          type="text"
          id="search-input"
          placeholder="Your ZIP code or City. e.g. New York"
        />
        <button type="submit" id="search-button">Search</button>
      </form>
    </div>
    <div class="row container-homepage" style="display: flex;">
      <div class="col-md-6 col-sm-6 col-lg-10">
        <h1 style="margin-top: 26px;font-family: system-ui;font-variant: all-small-caps;">Popular Properties</h1>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-2">
        <button type="button" style="text-align: center;margin-top: 32px;" class="btn btn-primary">See All</button>
      </div>
    </div>
    <div class="container-homepage" style="overflow-x: scroll;">
      <div class="card-container">
        {% for property in properties %}
        <div class="card">
          <img
            src="{{url_for('static', filename='property.jpg')}}"
            alt="Avatar"
            style="width: 100%;"
          />
          <div>
            <h2>{{ property.property_name }}</h2>
            <p>Price: ${{ property.amount }}</p>
            <p>Status: {{ property.description }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="footer">
      <h3>Footer</h3>
      <p>
        Copyright © 2024 . All Rights Reserved. — Designed with love by Khushi
        Panchal
      </p>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>
